<!--
NOTE: https://github.com/angular/angular/blob/master/packages/router/src/directives/router_link.ts
-->
<ul>
    <li>
        <a
            [routerLink]="['/home']"
            routerLinkActive="active"
        >Home</a>
    </li>
    <li>
        <a
            [routerLink]="['/product']"
            routerLinkActive="active"
        >Product</a>
    </li>
    <li>
        <a
            [routerLink]="['/order']"
            routerLinkActive="active"
        >Order</a>
    </li>
    <li>
        <a
            [routerLink]="['/login']"
            routerLinkActive="active"
        >Login</a>
    </li>
</ul>